.authentication {
  min-height: 100vh;
  .authentication-brand {
    &.desktop-dark {
      display: block;
    }
  }
  .form-control {
    padding-inline-end: 2.5rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .swiper-pagination-bullet {
    opacity: 0.1;
  }
  .swiper-pagination-bullet-active {
    opacity: 0.5;
  }
  .google-svg {
    width: 0.75rem;
    height: 0.75rem;
    margin-inline-end: 0.5rem;
  }
  .authentication-barrier {
    position: relative;
    span {
      position: relative;
      z-index: 2;
    }
    &:before {
      position: absolute;
      content: "";
      width: 45%;
      height: 0.125rem;
      background-image: linear-gradient(to left, transparent, rgb(var(--light-rgb)));
      border-radius: 50%;
      inset-inline-end: -35px;
      inset-block-start: 10px;
      z-index: 1;
    }
    &:after {
      position: absolute;
      content: "";
      width: 45%;
      height: 0.125rem;
      background-image: linear-gradient(to left, $light, transparent);
      border-radius: 50%;
      inset-inline-start: -35px;
      inset-block-start: 10px;
      z-index: 1;
    }
  }
  &.coming-soon,
  &.under-maintenance {
    .authentication-cover {
      background-image: none;
      &:before,
      &:after {
        display: none;
      }
      .aunthentication-cover-content {
        width: 100%;
        height: 100%;
        padding: 3rem;
        backdrop-filter: none;
        &:before,
        &:after {
          display: none;
        }
        .coming-soon-time,
        .under-maintenance-time {
          border: 2px dashed rgba(var(--primary-rgb),0.2);
        }
        .authentication-brand {
          width: auto;
          height: auto;
          border: 0;
        }
      }
    }
  }
  .coming-soom-image-container,
  .under-maintenance-image-container {
    img {
      width: 100%;
      height: auto;
    }
  }
  .authentication-cover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(to right top, $primary-09, rgba(var(--secondary-rgb), 0.9));
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      inset-inline-start: 0;
      inset-inline-end: 0;
      inset-block-start: 0;
      inset-block-end: 0;
      background-image: url(../images/media/media-84.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
    }
    .aunthentication-cover-content {
      width: 70%;
      height: 20rem;
      padding: 2rem;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        width: 600px;
        height: 600px;
        background-image: url(../images/media/svg/pattern-3.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.15;
      }
    }
  }
  &.authentication-basic {
    .desktop-dark {
      display: block;
    }
  }
  .form-control-lg {
    &#one,
    &#two,
    &#three,
    &#four {
      padding-inline: 0;
    }
  }
}
@media (min-width: 992px) {
  .aunthentication-cover-content {
    border-radius: 0.3rem;
  }
}
[data-theme-mode="dark"] {
  .authentication {
    &.authentication-basic {
      .desktop-dark {
        display: block;
      }
    }
    .authentication-brand {
      &.desktop-dark {
        display: block;
      }
    }
    &.authentication-cover {
      &.desktop-dark {
        display: block;
      }
    }
  }
}
.authentication {
  .desktop-logo,
  .desktop-dark {
    height: 2.75rem;
    line-height: 2.75rem;
  }
}

/* Start:: coming soon */
.coming-soon-main {
  position: relative;
  // background-image: linear-gradient(to right top, $primary, rgba(var(--secondary-rgb), 1));
    background-image: url(../images/media/media-118.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    // opacity: 0.8;
 
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, rgba(var(--primary-rgb), 0.6) 100%, rgba(var(--secondary-rgb), 0.8) 0%);
  }
}
.footer.authentication-footer {
  background-color: transparent;
  box-shadow: none;
  z-index: 100;
  padding-inline-start: 0;
}
.coming-soon input {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  border: 0;
  &:focus {
    background-color: rgba(255,255,255,0.2);
    border: 0;
    color: #fff;
  }
  &::-webkit-input-placeholder {
    opacity: 0.4;
    color: #fff  !important;
  }
}

.anim, .anim svg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.anim path {
  stroke-width: 1;
}
/* End:: coming soon */

.show-password-button {
  position: absolute;
  padding: .4rem;
  inset-block-start: 0;
  inset-inline-end: 4px;
}
.authentication.authentication-cover-main {
  .show-password-button {
    padding: 0.65rem;
  }
}
.authentication-background {
  position: relative;
  // background-image: linear-gradient(to right top, $primary, rgba(var(--secondary-rgb), 1));
    background-image: url(../images/media/media-118.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    // opacity: 0.8;
 
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, rgba(var(--primary-rgb), 0.6) 100%, rgba(var(--secondary-rgb), 0.8) 0%);
  }
}
.authentication-cover-image {
  border-radius: 50%;
}
.authentication-cover-icon {
  background-color: rgba(255,255,255,0.2) !important;
  color: $white !important;
  border: 0 !important;
  &:hover,&:active,&:focus {
    background-color: rgba(255,255,255,0.2) !important;
    color: $white !important;
    border: 0 !important;
  }
}
.authentication.two-step-verification .form-control {
  padding-inline-end: 0.5rem;
} 
.authentication-cover {
  .authentication-cover-logo {
    position: absolute;
    top: 30px;
    inset-inline-end: 30px;
  }
}
.login100-form-title {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-block-end: 30px;
  color: $default-text-color;
}
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}
.symbol-input100 {
  font-size: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  inset-block-end: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  padding-inline-start: 22px;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: $primary;
}
.input100 {
  font-size: 15px;
  line-height: 1.5;
  color: $default-text-color;
  display: block;
  width: 100%;
  height: 40px;
  padding-block-start: 0px;
  padding-inline-end: 30px;
  padding-block-end: 0px;
  padding-inline-start: 54px;
  border-radius: 5px;
  border: 1px solid $default-border;
  background-color: $custom-white !important;
}
.text-facebook {
  color: #3b5998;
}
.input100:focus-visible {
  outline: 0 !important;
}
.error-page .display-1 {
  font-size: 10.5rem;
  margin-block-start: 0px;
  font-weight: 500;
}