// Sales dashboard styles //
.statistics-info {
  .counter-icon {
    margin-block-end: 1rem;
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    padding: 1.3rem 1.4rem;
    border-radius: 50%;
    text-align: center;
    i {
      font-size: 1.2rem;
    }
  }
} 
.browsing-status .browsing-status-item {
  
  padding-block: 14px;
}
.production-status .production-status-item {
  padding-block: 11.5px;
  padding-inline: 22px;
}
.dot-label {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  margin-inline-end: 5px;
}
.img-card:before {
  content: "";
  position: absolute;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.counter-icon {
  margin-block-end: 1rem;
  width: 4rem;
  height: 4rem;
  line-height: 5rem;
  border-radius: 50%;
  text-align: center;
  font-size: 0px;
}
.card-img-start,
.card-img-end {
  height: 100%;
  max-width: 100%;
}
.chart-dropshadow-secondary {
  filter: drop-shadow(-6px 5px 4px rgba(167, 66, 153, 0.2));
}
#widgetChart1, #widgetChart2, #widgetChart3 {
  width: 110% !important;
  height: 142px !important;
  inset-block-end: -28px;
  position: relative;
  inset-inline-start: -30px;
  overflow: hidden !important;
  border-radius: 27%;
}

.chart-dropshadow-info {
  filter: drop-shadow(-6px 5px 4px rgba(7, 116, 248, 0.2));
}
.Order-Status-chart {
  position: relative;
}
.Order-Status-chart .Order-Status-inner {
  position: absolute;
  inset-block-start: 108px;
  inset-inline-end: 0;
  inset-inline-start: 0;
  margin: 0 auto;
}
.fs-42 {
  font-size: 42px !important;
}
#areaChart1,#areaChart2{
  margin-block-start: -35px;
}
.counter-icon i {
  font-size: 18px;
}
.product-sales .dropdown-menu {
  --bs-dropdown-min-width: 3.5rem;
}